header {
    padding: 10px 15px;
}

header div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 150px;
}

header a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    padding: 5px;
    margin: 0 5px;
}

@media (max-width: 550px) {
    header div {
        flex-direction: column;
    }

    header nav {
        width: 100%;
        text-align: center;
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid #aaadaf;
    }
}