.title-gallery {
    height: 30vh;
}

.bedrooms-img {
    width: 33%;
    padding-bottom: 10px;
}
.bedroom-informations {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bedroom-informations li {
    width: 25%;
    text-align: left;
    margin-top: 10px;
}
.section-container ul {
    margin-left: 50px;
}