* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.limita-secao {
    max-width: 1024px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}