.secao-capa {
    background: linear-gradient(47deg, #000113 0%, #04061D 80%, #04061D 100%);
    background-image: url('/public/assets/capa.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  
    height: 80vh;
}

.secao-capa div {
    width: 100%;
    height: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secao-capa h1,
.secao-capa p
{
    max-width: 500px;
    font-family: 'Anybody', cursive;
}
.secao-capa h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 60px;
    margin: 0;
    line-height: 70px;
    letter-spacing: 5px;
}
.secao-capa p {
    font-size: 36px;
    color: rgb(196, 196, 196);
}