body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Limitar largura da seção */
.limitar-secao {
    max-width: 1024px;
    margin: 0 auto;
}

h3 {
    margin: 0;
    font-size: 36px;
    text-transform: uppercase;
}