*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #80808029;
    font-family: 'Raleway';
}
header{
    width: 100%;
    height: 55px;
    background-color: #fff;
    
    display: flex;
    justify-content: center;
}

.topo{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.topo-logo{
    width: 32px;
    height: 32px;
}
.topo-titulo{
    color: #5d15d1;
    font-size: 24px;
    margin-left: 10px;
}

.limite-largura{
    max-width: 1024px;
}

.orcamento-fundo{
    width: 100%;
    height: auto;
    background-image: url('../img/bahia.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.orcamento-area{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 50px 0;
}
.orcamento-cabecalho{
    width: 100%;
    height: 35px;
    background-color: #5d15d1;

    display: flex;
    align-items: center;
    justify-content: center;
}
.orcamento-logo{
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
}
.orcamento-descricao{
    font-size: 14px;
    color: #fff;
    margin-left: 5px;
}
.orcamento-area-formulario{
    width: 100%;
    background-color: #fff;
    padding: 30px 25px 20px 25px;
    box-sizing: border-box;
}
.orcamento-subtitulo-formulario{
    font-size: 22px;
    margin-bottom: 24px;
}

.formulario{
    display: flex;
    flex-direction: column;
}
.formulario label{
    font-size: 16px;
}
.formulario input, .formulario select{
    width: 100%;
    height: 32px;
    margin: 10px 0;
}
.formulario input{
    padding: 0 5px;
    box-sizing: border-box;
}
.formulario select{
    padding: 0 3px;
}
.formulario-campo-duplo{
    width: 100%;

    display: flex;
    justify-content: space-between;
}
.formulario-campo-duplo div{
    width: calc(50% - 10px);
}
.radio{
    width: 100%;

    display: flex;
    justify-content: flex-start;

}
.radio div{
    display: flex;
    align-items: center;
    width: 120px !important;
}
.radio input{
    width: 15px;
}
.radio label{
    margin-left: 8px;
}

button{
    width: 160px;
    height: 32px;
    background-color: #5d15d1;
    color: #fff;
    font-size: 16px;
    border: none;
    margin-top: 12px;
}
button:hover{
    cursor: pointer;
}

.ofertas-area, .natureza-area{
    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: column;
    margin: 32px auto 0 auto;
}
.ofertas-titulo, .natureza-titulo{
    font-size: 20px;
    margin-bottom: 10px;
}
.ofertas-descricao, .natureza-descricao{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
}
.ofertas-descricao span{
    font-weight: bold;
}
.ofertas-imagens{
    width: 100%;
    height: 375px;

    display: flex;
    justify-content: space-between;
}
.oferta-imagem-destaque{
    position: relative;
    width: calc(50% - 10px);
    height: 100%;
}
.oferta-quatro-imagens{
    width: calc(50% - 10px);
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.oferta-quatro-imagens figure{
    position: relative;
    width: calc(50% - 10px);
    height: calc(50% - 10px);
    margin: 0 6px;
}
.oferta-imagem-destaque img, .oferta-quatro-imagens img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.oferta-imagem-destaque figcaption, .oferta-quatro-imagens figcaption{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 50%);
    font-size: 17px;
    color: #fff;
    padding: 5px 10px;
    box-sizing: border-box;
}

.natureza-duas-imagens{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
}
.natureza-imagem{
    width: calc(50% - 10px);
    height: 100%;
}
.natureza-imagem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.natureza-imagem div{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}
.natureza-imagem h3, p{
}
.natureza-imagem h3{
    font-size: 16px;
}
.natureza-imagem p{
    font-size: 14px;
    color: grey;
    margin-top: 15px;
}